SECRET_KEY=STRONG_KEY_HERE
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# Database Configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=mi_base_datos
DB_USER=usuario_admin
DB_PASSWORD=strong_password
DB_HOST=db-postgres
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000 http://127.0.0.1:3000


